<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Lists Detail">
<!-- TO DO -->
<!-- <div animate-right class="box">Edit</div>
<div class="box animate-right-class">Edit</div>
<div animate="right" class="box">Edit</div> -->

  <ion-content class="padding">

    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{prospect.firstname}} {{prospect.lastname}}
    </p>

<!-- <button class="button">Edit</button> -->
<p>
  <a class="button icon icon-right ion-chevron-right" href="#tab/chats/{{prospect._id}}/edit">Edit</a>
</p>

<!-- <p>
  <a class="button icon icon-right ion-chevron-right" href="#tab/chats/{{prospect._id}}/type">Type</a>
</p>
 -->


<a href="#/tab/chats/{prospect._id}}/type">
  <button class="button icon button-block button-balanced">
    Type of Contact
  </button>
</a>  

<a href="#/tab/chats/{prospect._id}}/decision">
  <button class="button icon button-block button-balanced">
    Record Decision
  </button>
</a>  


<div class="item item-input">
<span class="input-label">Birthday</span>
    <p>
      {{prospect.birthday}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Age</span>   
    <p>
      {{prospect.age}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Telephone</span>  
    <p>
      {{prospect.tel}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Email</span>  
    <p>
      {{prospect.email}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Street</span> 
    <p>
      {{prospect.street}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">City</span> 
    <p>
      {{prospect.city}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">State</span> 
    <p>
      {{prospect.state}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Zip</span> 
    <p>
      {{prospect.zip}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Facebook</span> 
    <p>
      {{prospect.facebook}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Instagram</span> 
    <p>
      {{prospect.instagram}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Initial Date</span> 
    <p>
      {{prospect.initialdate}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Contact Person</span> 
    <p>
      {{prospect.contactperson}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Name of Event</span> 
    <p>
      {{prospect.nameofevent}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Previously Saved</span> 
    <p>
      {{prospect.previouslysaved}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Previously Baptized</span> 
    <p>
      {{prospect.previouslybaptized}}
    </p>
</div>


<div class="item item-input">
<span class="input-label">Join Church</span> 
    <p>
      {{prospect.joinchurch}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Status</span> 
    <p>
      {{prospect.status}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Last Contact Date</span> 
    <p>
      {{prospect.lastcontactdate}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Created Date</span> 
    <p>
      {{prospect.createddate}}
    </p>
</div>

<div class="item item-input">
<span class="input-label">Modified Date</span> 
    <p>
      {{prospect.modifieddate}}
    </p>
</div>

<!-- DELETE BUTTON AREA -->
<!--     <button class="button button-block button-assertive">
      Delete
    </button> -->

<ion-toggle ng-model="shouldShowDelete">
  DELETE?
</ion-toggle>
<ion-list show-delete="shouldShowDelete">
  <ion-item>
    <ion-delete-button class="ion-minus-circled"></ion-delete-button>
    CONFIRM TO DELETE!
  </ion-item>
</ion-list>




  </ion-content>
</ion-view>