<ion-view view-title="Type of Contact">
  <ion-content>
    <div class="list">
      <ion-toggle  ng-model="settings.visit">
          Visit
      </ion-toggle>

      <ion-toggle  ng-model="settings.letter">
          Letter
      </ion-toggle>

      <ion-toggle  ng-model="settings.visitedchurch">
          Visited church
      </ion-toggle>

      <ion-toggle  ng-model="settings.phonecall">
          Phone call
      </ion-toggle>

      <ion-toggle  ng-model="settings.email">
          Email
      </ion-toggle>
    </div>
  </ion-content>
</ion-view>


