<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Lists Detail">
<!-- TO DO -->
<!-- <div animate-right class="box">Edit</div>
<div class="box animate-right-class">Edit</div>
<div animate="right" class="box">Edit</div> -->

<button class="button">Edit</button>

<button class="button button-balanced">
  button-balanced
</button>


<ion-view view-title="{{prospect.firstnamemale}}">

  <ion-content class="padding">


    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{prospect.firstname}} {{prospect.lastname}}
    </p>
<button class="button">Edit</button>
    
  <button class="button button-block button-balanced">
    Type of Contact
  </button>

  <button class="button button-block button-balanced">
    Record Decision
  </button>

    <p>
      {{prospect.birthday}}
    </p>
    <p>
      {{prospect.age}}
    </p>
    <p>
      {{prospect.tel}}
    </p>
    <p>
      {{prospect.email}}
    </p>
    <p>
      {{prospect.street}}
    </p>
    <p>
      {{prospect.city}}
    </p>
    <p>
      {{prospect.state}}
    </p>
    <p>
      {{prospect.zip}}
    </p>
    <p>
      {{prospect.facebook}}
    </p>
    <p>
      {{prospect.instagram}}
    </p>
    <p>
      {{prospect.contactdate}}
    </p>
    <p>
      {{prospect.contactperson}}
    </p>
    <p>
      {{prospect.nameofevent}}
    </p>
    <p>
      {{prospect.previouslysaved}}
    </p>
    <p>
      {{prospect.previoslybaptized}}
    </p>
    <p>
      {{prospect.joinchurch}}
    </p>
    <p>
      {{prospect.status}}
    </p>
    <p>
      {{prospect.lastcontactdate}}
    </p>
    <p>
      {{prospect.createddate}}
    </p>
    <p>
      {{prospect.modifieddate}}
    </p>

    <button class="button button-block button-assertive">
      Delete
    </button>
  </ion-content>
</ion-view>