<ion-view view-title="Type of Contact">
  <ion-content>
    <div class="list">
      <ion-toggle  ng-model="prospect.visit" ng-change="app.toggle()">
          Visit
      </ion-toggle>

      <ion-toggle  ng-model="prospect.letter" ng-change="app.toggle()">
          Letter
      </ion-toggle>

      <ion-toggle  ng-model="prospect.visitchurch" ng-change="app.toggle()">
          Visited church
      </ion-toggle>

      <ion-toggle  ng-model="prospect.phonecall" ng-change="app.toggle()">
          Phone call
      </ion-toggle>

      <ion-toggle  ng-model="prospect.emailed" ng-change="app.toggle()">
          Emailed
      </ion-toggle>
    </div>

  <input type="hidden" ng-model="prospect.modifieddateType"> 
    
     <!-- save button-->
  <div class="button-bar">
    <a class="button button-balanced" value="save" ng-click="app.editPerson(prospect)">Save</a>
  </div>
{{app.person}} 



  </ion-content>
</ion-view>


