<ion-view view-title="Type of Contact">
  <ion-content>
    <div class="list">
      <ion-toggle  ng-model="app.person.visit" ng-change="app.toggle()">
          Visit
      </ion-toggle>

      <ion-toggle  ng-model="app.person.letter" ng-change="app.toggle()">
          Letter
      </ion-toggle>

      <ion-toggle  ng-model="app.person.visitchurch" ng-change="app.toggle()">
          Visited church
      </ion-toggle>

      <ion-toggle  ng-model="app.person.phonecall" ng-change="app.toggle()">
          Phone call
      </ion-toggle>

      <ion-toggle  ng-model="app.person.emailed" ng-change="app.toggle()">
          Emailed
      </ion-toggle>

            <!-- save button-->
        <input type="button" value="save" ng-click="app.editPerson(app.person)"/>

<!--   <div class="button-bar">
    <a class="button button-balanced" value="save" ng-click="app.editPerson(app.person)"/>Save</a>
  </div> -->
  <!-- {{app.person}}  -->
<!-- <div class="button-bar">
  <a class="button button-balanced" value="save" ng-click="app.editPerson(app.person)"/>Save</a>
</div> -->
{{app.person}} 

    </div>
  </ion-content>
</ion-view>


