<ion-view view-title="Record Decision">
  <ion-content>
    <div class="list">
      <ion-toggle  ng-model="app.person.saved" ng-change="app.toggle()">
          Saved
      </ion-toggle>

      <ion-toggle  ng-model="app.person.baptized" ng-change="app.toggle()">
          Baptized
      </ion-toggle>

      <ion-toggle  ng-model="app.person.joinedthechurch" ng-change="app.toggle()">
          Joined the church
      </ion-toggle>
    </div>

    <!-- save button-->
  <div class="button-bar">
    <a class="button button-balanced" value="save" ng-click="app.editPerson(app.person)">Save</a>
  </div>
  {{app.person}} 


  </ion-content>
</ion-view>