<ion-view view-title="Decision">
  <ion-content>
    <div class="list">
      <ion-toggle  ng-model="app.person.saved" ng-change="app.toggle()">
          Saved
      </ion-toggle>

      <ion-toggle  ng-model="app.person.baptized" ng-change="app.toggle()">
          Baptized
      </ion-toggle>

      <ion-toggle  ng-model="app.person.joinedthechurch" ng-change="app.toggle()">
          Joined the church
      </ion-toggle>

            <!-- save button-->
        <input type="button" value="save" ng-click="app.editPerson(app.person)"/>
    </div>
  </ion-content>
</ion-view>