<ion-view view-title="Follow Up">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Main Contact</div>
      <div class="item item-body">

      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="app.person.firstname">
      </label>

      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="app.person.lastname">
      </label>

      <div class="button-bar">
        <a class="button">Male</a>
        <a class="button">Female</a>
        <a class="button">Couple</a>
      </div>

      <label class="item item-input">
        <span class="input-label">Birthday</span>
        <input type="date" ng-model="app.person.birthday">
      </label>

      <label class="item item-input">
        <span class="input-label">Age</span>
        <input type="text" ng-model="app.person.age">
      </label>

<!-- TO DO -->
<!-- <input type="tel", placeholder="tel" ng-model="app.person.tel"> -->


        <label class="item item-input">
          <span class="input-label">Telephone</span>
          <input type="tel">
        </label>

<!-- TO DO -->
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" ng-model="app.person.email">
    </label>

  </div>
</div>

<div class="list card">
  <div class="item item-divider">Social Media</div>
  <div class="item item-body">
    <div>
      <label class="item item-input">
        <span class="input-label">Facebook</span>
        <input type="text" ng-model="app.person.facebook">
      </label>

      <label class="item item-input">
        <span class="input-label">Instagram</span>
        <input type="text" ng-model="app.person.instagram">
      </label>
    </div>
  </div>
</div>

    <div class="list card">
      <div class="item item-divider">General Information</div>
      <div class="item item-body">
      <div>

      <label class="item item-input">
        <span class="input-label">Contact Date</span>
        <input type="date" ng-model="app.person.contactdate">
      </label>

      <label class="item item-input">
        <span class="input-label">Contact Person</span>
        <input type="text" ng-model="app.person.contactperson">
      </label>

      <label class="item item-input">
        <span class="input-label">Name of Event</span>
        <input type="text" ng-model="app.person.nameofevent">
      </label>

    <ion-toggle  ng-model="settings.previouslysaved">
        Previously saved
    </ion-toggle>

    <ion-toggle  ng-model="settings.previouslybaptized">
        Previously baptized
    </ion-toggle>

    <ion-toggle  ng-model="settings.joinchurch">
        Join church
    </ion-toggle>

      <label class="item item-input">
        <span class="input-label">Status</span>
        <input type="text" ng-model="app.person.status">
      </label>

<!--         <input type="text", placeholder="status" ng-model="app.person.status"/> -->

      <label class="item item-input">
        <span class="input-label">Last Contact Date</span>
        <input type="date" ng-model="app.person.astcontactdate">
      </label>

      <label class="item item-input">
        <span class="input-label">Created Date</span>
        <input type="date" ng-model="app.person.createddate">
      </label>

      <label class="item item-input">
        <span class="input-label">Modified Date</span>
        <input type="date" ng-model="app.person.modifieddate">
      </label>

        </div>
      </div>
    </div>
      
      <!-- save button-->
        <input type="button" value="save" ng-click="app.addPerson(app.person)"/>

  </ion-content>
</ion-view>