/* Empty. Add your own CSS if you like */

.bar.bar-header {
  background-color: #444;
}

div.bar.bar-header.item-input-inset {
  background-color: #00d6dd;
}

button.button.button-block.button-calm {
  background-color: #00d6dd;
}

.item.item-divider {
  background-color: #00d6dd;
  position: relative;
}

.item.item-input.modified-date {
  background-color: #f1f1f1;
}

.item.item-input.modified-date-type {
  background-color: #f1f1f1;
}

.item.item-input.modified-date-decision {
  background-color: #f1f1f1;
}

p.title-name {
  color: #444;
  font-size: 18px;
  position: absolute;
  padding-top: 14px;
}

a.edit {
  float: right;
  color: black;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
  padding-left: 15px;
  padding-top: 25px;
  min-height: 60px;
}

h2.lists-name {
  font-size: 20px;
  font-family: helvetica;
}

p.lists-detail-name {
  font-size: 20px;
  font-family: helvetica;
  padding-left: 15px;
}

